html {
  height: 100%;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
  height: 100%;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}
video.dropping {
  opacity: 0.25;
}
.hidden {
  display: none;
}
.error-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #e00;
  color: #fff;
  padding: 0 0.2rem;
  font-size: min(2.35vw, 1.3rem);
  font-weight: bold;
  height: 33px;
  line-height: 33px;
  text-align: center;
  max-width: calc(env(titlebar-area-width, 100%));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-app-region: drag;
  app-region: drag;
}

input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
